/* fonts:
    font-family: 'Oswald', sans-serif;
    font-family: 'Lato', sans-serif; */

.App {
  text-align: center;
}

img {
  width: 80%;
  height: 400px;
}

header {
  border: 1px solid red;
}

main {
display: flex;
flex-direction: column;
}

.recipes {
  display: flex;
  flex-direction: column;
  border: 1px solid purple;
  margin-top: 10px;
}

.search {
  border: 1px dotted blue;
  margin-top: 10px;
}
